.item:hover .moreButton {
    opacity: 1;
}

.moreButton {
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.selected, .selected[data-hover="true"], .selected[data-focus="true"] {
    @apply bg-primary-50;
}
