@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
}
